@inject NavigationManager NavigationManager

<div class="card m-2 shadow-lg" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <p class="card-text">@Description</p>
        <div class="d-flex flex-column justify-content-between">
            @for (int i = 1; i <= Selectors; i++)
            {
                <select class="form-select form-select-lg mb-3" aria-label="Index @i">
                    <option selected disabled>@($"Index {i}")</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            }
            <!--This button does not work-->
            <button class="btn btn-primary ms-2" @onclick="GoToInfo">
                <i class="bi bi-question-circle"></i>
            </button>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public int Selectors { get; set; }

    private void GoToInfo()
    {
        Console.WriteLine("Button pressed");
        NavigationManager.NavigateTo("/counter");
    }
}
