@page "/calculator"
@rendermode InteractiveServer

<title>Calculator</title>

<div class="grid-container">
    <CalcCard Title="SDG Goal 1 : No Poverty" IndexesType0= "1" IndexesType1 = "1" IndexesType2= "0" IndexesArray= "@indexes1"/>
    <CalcCard Title="SDG Goal 3 :  Good Health and Well-Being" IndexesType0= "0" IndexesType1 = "1" IndexesType2= "1" IndexesArray= "@indexes3"/>
    <CalcCard Title="SDG Goal 3 :  Good Health and Well-Being" IndexesType0= "0" IndexesType1 = "1" IndexesType2= "1" IndexesArray= "@indexes4"/>
    
</div>


@code {
    private int[] indexes1 = new int[] {1, 2};
    private int[] indexes3 = new int[] {5, 6};
    private int[] indexes4 = new int[] {7, 8};
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
        gap: 20px; /* Space between cards */
        padding: 8px; /* Optional padding for the container */
        justify-content: center; /* Center the items horizontally when fewer than 4 items in the row */
    }

    .SDGCard {
        /* Optional: Add any specific styles for the SDGCard here */
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        text-align: center; /* Center text inside the SDGCard */
    }
</style>
