@page "/calculator"
@rendermode InteractiveServer

<title>Calculator</title>

<div class="grid-container">
    <Type1Card Title="SDG Goal 1 : No Poverty" IndexesType1 ="2" IndexesType2="0" IndexesArray="@indexes1"/>
    <Type1Card Title="SDG Goal 3 :  Good Health and Well-Being" IndexesType1 ="2" IndexesType2="0" IndexesArray="@indexes3"/>
    
</div>


@code {
    private int[] indexes1 = new int[] { 1, 2};
    private int[] indexes3 = new int[] {5, 6};
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 4 cards per row */
        gap: 20px; /* Space between cards */
        padding: 8px; /* Optional padding for the container */
        justify-content: center; /* Center the items horizontally when fewer than 4 items in the row */
    }

    .SDGCard {
        /* Optional: Add any specific styles for the SDGCard here */
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        text-align: center;
    }

    text-align: center;
}
</style>



