@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div style="margin: 20px">
    <textarea @oninput="SetBool"></textarea>
    <p>@txt</p>
    <button class="btn btn-secondary" @onclick="ShowText">TextArea</button>
</div>


@code {
    private int currentCount = 0;
    private string txt = "";
    private bool hasText = false;
    private void IncrementCount()
    {
        currentCount++;
    }
    private void ShowText(MouseEventArgs e)
    {
        if(hasText){
            txt = "you wrote to the text area";
        }else{
            txt = "naughty naughty";

        }


    }
    private void SetBool(ChangeEventArgs e)
    {
        if((string)e.Value != ""){
            hasText = true;
        }else{
            hasText = false;
        }
    }
}
