@page "/SDGCalc"
@using UniCalculator.Components

<h1 class="text-center">Sustainable Development Goals</h1>

<div class="d-flex flex-wrap">
    
    <SDGCard Title= "SDG Goal" Description= "Description of SDG Goal" Selectors="2"/>

</div>